@model List<Project_2025_Web.DTOs.ReservationDTO>

@{
    ViewData["Title"] = "Reservas";
}

<h1>Reservas</h1>
<a class="btn btn-primary" asp-action="Create">Nueva Reserva</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Plan</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Número de Personas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
                <tr>
                    <td>@reserva.Id_Plan</td>
                    <td>@reserva.Id_User</td>
                    <td>@reserva.Date.ToShortDateString()</td>
                    <td>@reserva.Status</td>
                    <td>@reserva.Person_Number</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@reserva.Id" class="btn btn-warning">Editar</a>
                        <form asp-action="Delete" asp-route-id="@reserva.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>

