@model List<Project_2025_Web.DTOs.ReservationDTO>

@{
    ViewData["Title"] = "Reservas";
}
@if (TempData["mensaje"] != null)
{
    var tipo = TempData["tipo"]?.ToString() ?? "info";
    <div class="alert alert-@tipo alert-dismissible fade show" role="alert">
        @TempData["mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Reservas</h1>
<a class="btn btn-primary" asp-action="Create">Nueva Reserva</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Plan</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Número de Personas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
                <tr>
                    <td>@reserva.Id_Plan</td>
                    <td>@reserva.Id_User</td>
                    <td>@reserva.Date.ToShortDateString()</td>
                    <td>@reserva.Status</td>
                    <td>@reserva.Person_Number</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@reserva.Id" class="btn btn-warning">Editar</a>
                                <form asp-action="Delete" asp-route-id="@reserva.Id" method="post" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este plan?');">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>

